.projects {
  background-color: #34495e;
}

.card {
  padding: 2rem;
  font-size: 1.3rem;
  color: white;
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
}
.button {
  margin-right: 1rem;
  color: #b8c8d8;
  text-decoration: none;
}
.button:hover {
  color: #fff;
  text-decoration: underline;
}
.text {
  margin-right: 0.25rem;
}

.vimeo {
  display: block;
  margin: 1rem auto;
  width: 640px;
  height: 390px;
  max-width: 100%;
}
