.iconWrapper, .iconMenuWrapper{
  display: flex;
  padding: 1rem 0;
}

.iconWrapper:hover, .iconMenuWrapper:hover{
  background-color: #46637f;
}

.icon {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.icon > svg, .icon > img{
  height: 48px;
  width: 48px;
}

.text {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 3rem;
  font-size: 1.3rem;
}

.active{
  background-color: #4f6f8f;
  color: #eee;
}

/* IconMenu */
.iconMenuWrapper{
  width: 100%;
  display: none;
  background-color: #34495e;
}

.iconMenuWrapper.activeIconMenu{
  display: flex;
}

.iconMenuWrapper .icon > svg, .iconMenuWrapper .icon > img{
  height: 36px;
  width: 36px;
}

.menuText > h4{
  margin: 0;
  margin-left: 0.5rem;
}

.iconMenuWrapper .icon{
  width: 20%;
  justify-content: center;
}

.downArrow{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
}
