.mobileMenu  {
  display: none;
}

.menu{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #34495e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.menu a{
  text-decoration: none;
}
.menu a:hover{
  color: rgba(255, 255, 255, 0.5);
}

.closeButton{
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.mobileExternalLinks{
  display: flex;
  margin-top: 2rem;
}
.mobileExternalLinks > a{
  margin: 0 1.2rem;
}

@media screen and (max-width: 650px){
  .mobileMenu{
    display: block;
  }
  .menu.navMenuOpen{
    display: flex;
  }
}
