.wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: #34495e;
  color: #fff;
}

.inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
.inner > h1{
  font-family: 'Caveat', cursive;
  font-size: 7rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.inner > span{
  font-size: 2rem;
}

.nav{
  margin-bottom: 1rem;
}
.nav > a {
  font-size: 1.3rem;
  margin: 0.5rem;
  color: #fff;
  text-decoration: none;
}
.nav > a:hover {
  text-decoration: underline;
}
