.wrapper{
  background-color: #34495e;
  color: #fff;
  padding: 4rem 0;
}

.innerWrapper > h2{
  margin: 0;
  text-align: center;
}

.innerWrapper > p{
  margin-top: 0;
  text-align: center;
  font-size: 1.3rem;
}

.innerWrapper > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonWrapper{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 700px;
}

.toastify{
  top: 55px;
}
