.education{
  display: flex;
}
.education > div{
  display: flex;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  width: 75px;
}
.left > span{
  display: block;
  text-align: center;
  color: #585858;
}

.middle{
  width: 80px;
}
.middle > svg{
  height: 100%;
  width: 100%;
}

.right{
  display: flex;
  flex-direction: column;
}
.right > h2, .right > h3{
  margin: 0;
}

.subtitle{
  margin-bottom: 1rem;
}
.detail{
  font-size: 1.3rem;
}

.blank{
  margin-left: 10%;
  width: 125px;
  height: 75px;
}
